
.credit-card {
    width: 20%;
    height: 60%;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #e7e7e7;
}

.input {
    align-items: center;
    width :60px;
    text-align: center;
    height: 20px;
    margin: 1%;
}

.input {
    align-items: center;
    width :40px;
    text-align: center;
    height: 20px;
    margin: 1%;
}
@media screen and (max-width: 400px) {
    .credit-card {
        width: 90%;
        height: 90%;
    }
  }

